body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    height: 100vh;
    background-color: #0a1929;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #80808047;
}

.header-link {
    color: #3e5064;
    text-decoration: none;
    margin-left: 1rem;
}

.settings-header {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    gap: 1rem;
}

.input-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    color: white;
    width: 100%;
}

.synth-pots-container {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #2b3642;
    margin: 1rem;
    border-radius: 5px;
    min-height: 20rem;
    padding: 2rem;
}

.synth-control-voice {
    position: relative;
    padding: 1rem;
    border: 1px solid #2b3642;
    border-radius: 5px;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.module-label {
    position: absolute;
    top: -14px;
    left: 10px;
    color: #0075ff;
    font-size: 18px;
    font-weight: bold;
    background: #0a1929;
    padding: 0 1rem;
}

canvas {
    border: 1px solid #2b3642;
    border-radius: 5px;
    background-color: #001b2f;
}

/* 
input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
} */